// Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@400&family=Poppins:ital,wght@400;600&display=swap");

$mainFont: "Open Sans", sans-serif;
$headingFont: "Poppins", sans-serif;
// Fonts

// Color
$Violet: hsl(257, 40%, 49%);
$SoftMagenta: hsl(300, 69%, 71%);
// Color
